.home_section{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('./../../public//fondologin.jpg');
   
}